<!DOCTYPE html>
<html>
  <head>
    <title>BluethumbBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <%= render 'layouts/navbar' %>
    <div>
      <p><%= flash[:notice] %></p>
    </div>
    <main class="container w-full md:max-w-4xl mx-auto pt-20">
      <%= yield %>
    </main>
    <div class="fixed bottom-5 right-5">
      <%= link_to 'Create New Post', new_post_path, class: "bg-blue-400 text-lg text-gray-100 p-4 rounded-full hover:bg-blue-500 hover:text-gray-800" %>
    </div>
  </body>
</html>
